@import "../hypr/Colors/catppucin-mocha-gtk.css";
 
* {
    margin: 0;
    padding: 0;
    font-weight: bold;
	font-size: 14px;
}

.close-button {
    background: @red;
    color: @base;
    text-shadow: none;
    padding: 0;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
}

.control-center {
    padding: 10px;
    background: @crust;
    border: 1px solid @lavender;
    border-radius: 8px;
}
 
.widget-dnd,
.widget-title {
    margin-bottom: 6px;
    padding: 14px;
    color: @text;
    background: @base;
    border-radius: 8px;
    border: 1px solid @lavender;
}

.widget-title > button {
    padding: 4px 10px;
    border-radius: 8px;
    background-color: transparent;
}

.widget-title > button:hover {
    color: @base;
    background-color: @lavender;
}

.widget-dnd>switch {
    background: @mantle;
}
 
.widget-dnd>switch:checked {
    background: @lavender;
}


.widget-mpris {
    color: @text;
}

.widget-mpris > box {
    border-radius: 8px;
    margin-bottom: -20px;
    background: @base;
    border: 1px solid @lavender;
}
 
.widget-mpris > box > button {
    border-radius: 5px;
}

.widget-mpris-player {
    background: @base;
    box-shadow: none;
    padding: 10px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}
 
.widget-mpris-subtitle {
    font-size: 1.1rem
}

.notification {
    background: @base;
    margin: 0px;
    border: 1px solid @lavender;
}

.notification-content {
    background: @base;
    margin: 0px;
    padding: 10px
}

.notification-row {
    outline: none;
    margin: 5px;
    padding: 0;;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @base;
    background: @lavender;
}

.summary {
	padding-top: 7px;
    font-size: 13px;
    color: #fff;
}

.time {
    font-size: 11px;
    color: @subtext1;
}

.body {
    font-size: 12px;
    color: @subtext1;
}

